.watchMovie {
    display: flex;
    justify-content: space-between;
}

.contentMovie {
    width: 50%;
    height: 650px;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.movieImage {
    width: 120px;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.logo {
    display: none;
}

.logo a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

.blockFilmInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 460px;
    margin: 0 auto;
    border-radius: 10px;
}

.blockInfoDescription span {
    opacity: 0.5;
}

.blockInfoDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    max-width: 300px;
    margin: 10px;
}

.blockFilm {
    margin: 0 auto;
    width: 100%;
}

.blockFilm div {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600;
}

@media (max-width: 652px) {
    .contentMovie {
        width: 80%;
        margin: 0 auto;
    }
    .logo{
        display: block;
        text-align: center;
        margin-top: 30px;

    }
    .watchMovie {
        flex-direction: column;
    }
}

@media (max-width: 548px) {
    .blockFilmInfo {
        height: 500px;
    }
    .contentMovie {
        height: 680px;
    }
}
@media (max-width: 434px) {
   
    .contentMovie {
        height: 720px;
    }
    .contentMovie{
        margin: 0 auto;
    }
    .blockFilmInfo {
        width: 280px;
    }
}