.content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.contentHeaderTitle {
    margin: 40px 0px;
    font-weight: 600;
    font-size: 18px;
}

.slider {
    height: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    background-image: url('../../images/Slider/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 60px;
}

.watchBtn {
    position: absolute;
    right: 160px;
    bottom: 20px;
    box-sizing: border-box;
    color: white;
    background: red;
    font-weight: 600;
    font-size: 16px;
    border: none;
    width: 140px;
    height: 45px;
    border-radius: 13px;
    cursor: pointer;
    transition: 0.2s;
}

.watchBtn:hover {
    transition: 0.2s;
}

@media (max-width: 975px) {
    .content {
        width: 45%;
    }
    .slider {
        height: 200px;
    }
}

@media (max-width: 652px) {
    .content {
        width: 90%;
    }
}